### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-webowego index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule oferta-tworzenie-stron-www oferta.html
RewriteRule portfolio-programista-php-javascript portfolio.html
RewriteRule kontakt-programista-php kontakt.html